<section>
    <div class="container-fluid">
        <div class="row mt-2">
            <a href="/admin/add-product/" class="btn btn-success btn-sm  ml-auto mr-3" type="button">Add Products</a>
        </div>
        <table class="table table-bordered mt-5">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Product</th>
                    <th scope="col" class="text-center">Category</th>
                    <th scope="col" class="text-center">Description</th>
                    <th scope="col" class="text-center">Rate</th>
                    <th scope="col" class="text-center">Image</th>
                    <th scope="col" class="text-center" width="10%">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}

                <tr>
                    <th scope="row" class="text-center">{{@index}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.description}}</td>
                    <td class="text-center">{{this.price}}</td>
                    <td class="text-center"><img src="/product-images/{{this._id}}.jpg" width="50px" height="50px" alt=""></td>
                    <td class="text-center">
                        <a href="/admin/edit-product/{{this._id}}" class="btn btn-link editProduct" id="editProduct" productId={{this._id}}><i
                                class="bi bi-pencil-square "></i></a>
                        <a href="/admin/delete-product?productId={{this._id}}" class="btn btn-link deleteProduct" onClick='return confirm("Are you sure want to delete {{this.name}} ?")'  id="deleteProduct" productId={{this._id}}><i
                                class="bi bi-trash text-danger"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
