<section>
    <div class="container bg-light">
        <div class="row mt-10">
            <div class="col-12 col-md-8 bg-light">
                <div class="shadow-sm  p-3  m-2 bg-white rounded" style="height:30rem;overflow:auto">
                    {{#each cartDetails}}
                    <div class="row  border-bottom border-gray">
                        <div class="col-4 col-md-2 bg-light rounded m-auto p-2 text-center">
                            <img src="/product-images/{{this._id}}.jpg" width="100px" height="100px" alt="" />
                        </div>
                        <div class="col-4 col-md-6 m-auto p-3">
                            <h4 class="text-secondary font-weight-bold">{{this.name}}</h4>
                            <p class="text-secondary ">Category:{{this.category}}</p>
                            <div class="row">
                                <div class="col-12 col-md-12 p-3 text-secondary">
                                    <a href="" id={{@index}}><i class="bi bi-trash "></i><span>Remove Item</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-md-2 p-3 m-auto">
                            <div class="row">
                                <buton type="button" class="btn btn-outline-primary btn-sm font-weight-bold">-</buton>
                                <div class="border border-primary rounded pl-3 pr-3 text-center quantity">1</div>
                                <buton type="button" class="btn btn-outline-primary btn-sm font-weight-bold">+</buton>
                            </div>
                            <div class="row text-center">
                                <div class=" col-12 col-md-12  p-2 text-center">
                                    <h4 class="text-secondary font-weight-bold ">INR {{this.price}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>


            <div class="col-12 col-md-4  bg-light">
                <div class="shadow-sm mt-2 p-3 mb-5 bg-white rounded">
                </div>
            </div>
        </div>
    </div>
</section>